body {
    margin: 0;
    background-color: #edece8;
    width: 100vw;
}

.wrap {

}

.header {
    width: 100vw;
    height: 150px;
    text-align: center;
    background-color: darksalmon;
    padding: 20px;
    margin-bottom: 20px;
}

.header > h1 {
    margin-top: 40px;
}

.card-container {
    text-align: center;
    height: 100vh;
    width: 520px;
    margin: auto;
}

.card {
    border: 1px solid darkgray;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0.4em 0.8em -0.525em ;
    /*padding: 10px;*/
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    height: 100px;
}

.card-body > img {
    width: 60px;
    height: 72px;
    position: absolute;
    top: 17px;
    left: 20px;
}

.card-body-content {
    position: relative;
    /*top: -3px;*/
    left: 90px;
    margin: 0;
}
h2 > span {
    color: darkblue;
    font-weight: 800;
    font-size: 20px;
}

.card-body-content > p {
    text-align: left;
    position: relative;
    top: -10px;
    color: grey;
    font-weight: 700;
    margin: 0;
}

.card-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    border-top: 1px solid darkgray;
    margin: 0;
    height: 50px;
}

.card-footer > a {
    display: flex;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    text-decoration: none;
    padding: 16px;
}
#like{
    color: darkblue;
    border-right: 1px solid darkgray;
}
#hate{
    color: darkred;
}